@import "tailwindcss";
@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.51 0.2331 295.86);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.52 0.19 24.31);
  --destructive-foreground: oklch(0.985 0 0);
  --success: oklch(0.47 0.12 166.18);
  --success-foreground: oklch(0.985 0 0);
  --border: oklch(0.95 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.51 0.2331 295.86);
  --gray: oklch(0.97 0 0);
}

.dark {
  --background: oklch(0.17 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.19 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.141 0.005 285.823);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.78 0.2331 295.86);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.23 0 0);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.23 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.82 0.19 24.31);
  --destructive-foreground: oklch(0.141 0.005 285.823);
  --success: oklch(0.87 0.12 166.18);
  --success-foreground: oklch(0.141 0.005 285.823);
  --border: oklch(0.28 0.006 286.033);
  --input: oklch(0.274 0.006 286.033);
  --ring: oklch(73.23% 0.1386 258.03);
  --gray: oklch(0.23 0 0);
}

@theme inline {
  /* colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-gray: var(--gray);

  /* --text-*: initial; */
  --text-xs: 0.7rem;
  --text-sm: 0.8rem;

  --shadow-normal: 0px 0px 15px #0000001a;
  --shadow-xl:
    0px 1px 8px 0px rgba(0, 0, 0, 0.03), 0px 5px 20px 0px rgba(0, 0, 0, 0.03);

  /* animation functions */
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  select {
    @apply h-7 rounded-md border border-border bg-gray text-xs px-1.5 outline-hidden focus-within:border-primary appearance-none pr-4 w-full disabled:cursor-not-allowed disabled:opacity-50;
  }

  input[type="range"] {
    @apply w-full h-1 bg-foreground/10 rounded-lg appearance-none cursor-pointer;
  }

  input[type="range"]::-webkit-slider-thumb {
    @apply appearance-none w-[10px] h-[10px] rounded-full shadow-xs bg-primary cursor-pointer;
  }
}

/* Editor Styling */
.moveable-control {
  background-color: oklch(0.51 0.2331 295.86) !important;
  height: 14px !important;
  width: 14px !important;
  margin-top: -7px !important;
  margin-left: -7px !important;
  border: 2px solid #fff !important;
  opacity: 1 !important;
}

.moveable-control.moveable-n,
.moveable-control.moveable-s {
  width: 26px !important;
  height: 10px !important;
  border-radius: 50px !important;
  margin-top: -5px !important;
  margin-left: -13px !important;
}

.moveable-control.moveable-w,
.moveable-control.moveable-e {
  width: 10px !important;
  height: 26px !important;
  border-radius: 50px !important;
  margin-top: -13px !important;
  margin-left: -5px !important;
}

.moveable-line.moveable-direction,
.moveable-line.moveable-rotation-line {
  background-color: oklch(0.51 0.2331 295.86) !important;
}

.moveable-dimension {
  position: absolute;
  background: oklch(0.51 0.2331 295.86) !important;
  border-radius: 5px;
  padding: 2px 6px;
  color: white;
  font-size: 11px;
  white-space: nowrap;
  font-weight: 500;
  will-change: transform;
  display: none;
}

.moveable-dimension.visible {
  display: block;
}

.moveable-custom-rotation {
  background-color: var(--background) !important;
  border: 1px solid;
  border-color: var(--border) !important;
  box-shadow: 0px 5px 10px #00000012;
  position: absolute;
  transform: translate(-50%, 0);
  height: 30px;
  width: 80px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform-origin: top;
}

.moveable-guideline.moveable-vertical {
  background-color: rgba(199, 119, 0, 0.5) !important;
  width: 1px !important;
}

.moveable-guideline.moveable-horizontal {
  background-color: rgba(199, 119, 0, 0.5) !important;
  height: 1px !important;
}

.infinite-viewer-scroll-thumb {
  background: #3333334a !important;
}

.selecto-selection {
  z-index: 10 !important;
}

.editor-canvas-scroll {
  @apply bg-gray/30;
  background-image: radial-gradient(
    rgba(26, 32, 44, 0.063) 1.2px,
    rgba(0, 0, 0, 0) 1.2px
  );
  background-size: 10px 10px;
}

.dark .editor-canvas-scroll {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.04) 1.2px,
    rgba(255, 255, 255, 0) 1.2px
  );
}

.hovered {
  border: 1px solid;
  border-color: oklch(0.51 0.2331 295.86);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 1;
  pointer-events: none;
}

.sidebar-item:hover .sidebar-item-actions {
  visibility: visible;
}

.sidebar-item:hover .sidebar-item-label-input {
  width: 154px;
}

.infinite-viewer-wrapper {
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
}

.inputWrapper:hover .numberHandlers {
  display: flex;
}

select {
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.18179 6.18181C4.35753 6.00608 4.64245 6.00608 4.81819 6.18181L7.49999 8.86362L10.1818 6.18181C10.3575 6.00608 10.6424 6.00608 10.8182 6.18181C10.9939 6.35755 10.9939 6.64247 10.8182 6.81821L7.81819 9.81821C7.73379 9.9026 7.61934 9.95001 7.49999 9.95001C7.38064 9.95001 7.26618 9.9026 7.18179 9.81821L4.18179 6.81821C4.00605 6.64247 4.00605 6.35755 4.18179 6.18181Z' fill='currentColor' fill-rule='evenodd' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: right 3px center;
}

.colorPicker .popup_tabs {
  @apply shadow-none bg-transparent;
}

.colorPicker .popup_tabs-header .popup_tabs-header-label-active {
  @apply bg-background text-foreground;
}

.colorPicker .input_rgba .input_rgba-wrap input {
  @apply text-foreground;
}

.colorPicker .gradient-interaction .gradient-result,
.colorPicker .gradient-interaction .gradient-stops .gradient-stop-preview {
  @apply border;
}

.colorPicker .colorpicker,
.colorPicker .colorpicker .color-picker-panel {
  @apply bg-transparent;
}

.colorPicker .popup_tabs-body {
  @apply p-0;
}

.colorPicker .popup_tabs-header {
  @apply mb-3 bg-gray rounded-lg p-1 h-9;
}

.colorPicker .popup_tabs-header > * {
  @apply h-full! rounded-md! text-xs! capitalize!;
}

.colorPicker .input_rgba-wrap input {
  @apply flex! text-sm! w-full! border! border-solid! border-border! rounded-md! bg-gray! transition-colors! h-8! shadow-none! mb-0!;
}

.colorPicker
  .input_rgba
  .input_rgba-wrap
  .input_rgba-hex
  .input_rgba-hex-label {
  @apply top-[4px]!;
}

.colorPicker
  .input_rgba
  .input_rgba-wrap
  .input_rgba-alpha
  .input_rgba-alpha-label {
  @apply top-[6px]! text-[14px];
}

.colorPicker .input_rgba .input_rgba-wrap .input_rgba-label {
  @apply hidden!;
}
